<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="PERL-IIS" />
            <add name="pl" path="*.pl" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\Perl\bin\perl.exe&quot; %s %s" resourceType="Unspecified" />
        </handlers>
        <caching>
            <profiles>
                <add extension=".pl" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="01:00:00" location="Any" varyByQueryString="file,width,quality" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
